<div class="ticker" aria-hidden="true"><div class="ticker-track">
  <div class="t-item g">Building Materials <span class="t-dia">&#9670;</span></div><div class="t-item">Plumbing Supplies <span class="t-dia">&#9670;</span></div>
  <div class="t-item g">Hardware <span class="t-dia">&#9670;</span></div><div class="t-item">Contractor Supplies <span class="t-dia">&#9670;</span></div>
  <div class="t-item g">PVC Pipe &amp; Fittings <span class="t-dia">&#9670;</span></div><div class="t-item">DWV Essentials <span class="t-dia">&#9670;</span></div>
  <div class="t-item g">Fasteners &amp; Anchors <span class="t-dia">&#9670;</span></div><div class="t-item">Fast Response <span class="t-dia">&#9670;</span></div>
  <div class="t-item g">Special Orders Welcome <span class="t-dia">&#9670;</span></div><div class="t-item">Volume Pricing <span class="t-dia">&#9670;</span></div>
  <div class="t-item g">Building Materials <span class="t-dia">&#9670;</span></div><div class="t-item">Plumbing Supplies <span class="t-dia">&#9670;</span></div>
  <div class="t-item g">Hardware <span class="t-dia">&#9670;</span></div><div class="t-item">Contractor Supplies <span class="t-dia">&#9670;</span></div>
  <div class="t-item g">PVC Pipe &amp; Fittings <span class="t-dia">&#9670;</span></div><div class="t-item">DWV Essentials <span class="t-dia">&#9670;</span></div>
</div></div>
